/* Wrappers */

.land-right-wrapper {
    position: relative;
    border-right: 1.5px solid rgb(100, 99, 99);
    width: 50%;
    display: flex;
    align-items: center;
    flex: 1
}

/* ----- */

/* General Info */

.land-right-text {
    display: inline-block;
    width: 80%;
    height: 60%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    position: relative;
    font-size: 350%;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.sub-title {
    position: relative;
    width: 70%;
    line-height: 1.4em;
    color: rgb(129, 129, 129);
    font-size: 90%;
    font-family: 'Sofia Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.cta-btn {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    text-align: center;
    width: 30%;
    border-radius: 10px;
    font-weight: bolder;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px solid black;
}

.cta-btn:hover {
    transform-origin: center;
    transition: all 1s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;

}

/* ----- */

/* Responsive */
/* @media screen and (max-width: 1107px) {
    .hero-title {
        width: 80%;
    }
}

@media screen and (max-width: 980px) {
    .hero-title {
        font-size: 300%;
    }

    .sub-title {
        width: 80%;
    }
}

@media screen and (max-width: 830px) {
    .land-right-wrapper {
        width: 100%;
        height: 40%;
        border-right: none;
        border-bottom: 1.5px solid rgb(100, 99, 99);
        top: 0%;
        align-items: initial;
    }

    .hero-title {
        font-size: 300%;
        width: 70%;
    }

    .land-right-text {
        top: 20%;
    }

    .sub-title, .cta-btn {
        margin-top: 20px;
    }

}

@media screen and (max-width: 640px) {
    .hero-title {
        font-size: 250%;
    }

    .land-right-text {
        top: 20%;
    }

    .sub-title, .cta-btn {
        margin-top: 20px;
    }

    .sub-title {
        width: 100%;
    }
} */