.landing-wrapper {
    width: 90%;
    min-height: 740px;
    height: 98vh;
    background-color: rgba(244, 241, 235, 255);
    position: relative;
    
}

.text-wrapper {
    display: flex;
}

/*///////////*/


@media screen and (max-width: 830px) {
    .text-wrapper {
        display: inline-block;
    }
}