.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background: rgb(244,241,235);
  background: linear-gradient(90deg, rgba(244,241,235,1) 0%, rgba(246,235,220,1) 67%, rgba(244,241,235,1) 100%);
  height: 100vh;
  min-height: 800px;
}

